{{ $currentVersion := site.GetPage (default "latest" .Page.Params.version) }}
{{ $versionTitle := $currentVersion.Params.version }}
<h3>Version {{ $versionTitle }}</h3>
{{ range $currentVersion.Sections }}
<ul>
  <li>
    <strong>
      <i class="material-icons">folder_open</i>
      <span class="title-text">{{ .Title }}</span>
    </strong>
    <ul class="menu-item">
      {{ range .Pages }}
        {{ if .Title }}
          <li>
            <a href="{{ .Permalink }}" class="nav-link">
              <i class="material-icons">file_open</i>
              <span class="title-text">{{ .Title }}</span>
            </a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
{{ end }}
{{ range $currentVersion.Pages }}
{{ if .IsPage }}
  {{ if .Title }}
  <span class="root-item">
    <a href="{{ .Permalink }}" class="nav-link">
      <i class="material-icons">file_open</i>
      <span class="title-text">{{ .Title }}</span>
    </a>
  </span>
  {{ end }}
{{ end }}
{{ end }}
