<div class="version-switcher">
  <label for="version-select">Version:</label>
  <select id="version-select" onchange="switchVersion(this.value)">
    {{ $currentVersion := .Page.Params.version }}
    {{- $lang := .Site.Language.Lang -}}
    {{- $contentDir := printf "content/%s" $lang -}}
    {{- $dirs := readDir $contentDir -}}
    {{- range $dir := $dirs -}}
    {{- if $dir.IsDir -}}
      <option value="{{ $dir.Name }}" {{ if eq $dir.Name $currentVersion }}selected{{ end }}>{{ $dir.Name }}</option>
    {{- end -}}
    {{- end -}}
  </select>
</div>

<script>
  function switchVersion(version) {
    const currentPath = window.location.pathname.split('/')[1]
    window.location.href = `/${currentPath}/${version}`;
  }
</script>

