{{ $currentVersion := .Page.Params.version }}
{{- $lang := .Site.Language.Lang -}}
{{- $contentDir := printf "content/%s" $lang -}}
{{- $dirs := readDir $contentDir -}}
<div class="version-switcher">
  <div class="mui-dropdown">
    <button class="mui-btn button" data-mui-toggle="dropdown">
      {{$name := "latest"}}
      {{- range $dir := $dirs -}}
        {{ if eq $dir.Name $currentVersion }}
          {{ $name = $dir.Name }}
        {{ end }}
      {{ end }}
      {{ $name }}
      <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu">
      {{ range $dir := $dirs -}}
        {{- if $dir.IsDir -}}
          <li><a class="lang-handler" onclick="switchVersion('{{ $dir.Name }}');" href="#"> {{ $dir.Name }}</a></li>
        {{ end -}}
      {{ end -}}
    </ul>
  </div>
</div>